{% extends 'base.html' %} 

{% import 'macros.html' as macro%}

<!-- content block -->

{% block content %}

  <div class=" col-md-10 col-md-offset-1 col-sm-12">
      <h3 class="text-center">{{category.name|upper}}</h3>
       <a class="btn btn-primary text-center" href="/category/new-pitch/{{category.id}}"> Post a Pitch</a>
       <HR>
  </div>

  {% if pitches %}
      <div class="col-sm-12 col-md-8">
          {{ macro.displayPitches(pitches)}}
      </div>
  {%else%}
        <div class="well">
          <h4 style="padding:10%; text-align:center; font-size:20px">There are No pitches yet feel free to post one</h4>
        </div>
  {% endif %}

{% endblock %}